.SS {
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    flex-direction: column;

}

.logo {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    height: 100%;
    width: 100%;


}

.logo img {

    width: 400px;
}

.I1 {
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #8f8a8a;
    margin-bottom: 60px;
    text-decoration: none;
    font-size: large;

}

.I1:hover {
    border: 2px solid #4A96A6;
}

.I2 {
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #8f8a8a;
    font-size: large;
}

.I2:hover {
    border: 2px solid #4A96A6;
}

.f {

    margin-right: 15rem;
    color: #767676;
}

.button {
    margin-top: 50px;
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #4A96A6;
    background-color: #4A96A6;
    cursor: pointer;
    color: white;

}

.button a {
    color: #4A96A6;
    text-decoration: none;

}

.button:hover {
    background-color: #fff;
    border: 2px solid #4A96A6;
    color: #4A96A6;

}
.notification{
    margin-left: auto;
    justify-content: end;
    width: 400px;
    height: 100px;
    border: 1px solid #4A96A6;
    border-radius: 10px;
    margin-bottom: 0;
    display: none;
}
.titre_notification{
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: -22px;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #4A96A6;
    
}
.notification p{
    font-size: large;
    color: #4A96A6;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  } 


.button a:hover {
    color: #4A96A6;

}

@media (max-width:768px) {

    .SS {
        top: 10%;
        left: 20%;
    }

}

@media (max-width:375px) {

    .SS {
        top: 20%;
        left: 5%;

    }

    .I1 {
        width: 20rem;

    }

    .I2 {
        width: 20rem;

    }


    .button {
        width: 21rem;

    }

    .logo img {

        width: 300px;
    }

    .f {
        margin-right: 10rem;
    }
}